@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    --very-dark-desaturated-blue:hsl(238, 29%, 16%);
    --soft-red:hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    --white: #ffffff;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(
        var(--soft-violet),
        var(--soft-blue));
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--white);   
    border-radius: 1.5rem;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    justify-content: center;
    align-content: center;
}

/* TOP section */

/* Mobile logo settings */
.mobile-logo{
    display: block;
    transform: translate(25px,-110px);
}

.mobile-woman{
    box-sizing: content-box;
    background-image: url(./images/illustration-woman-online-mobile.svg);
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 196px;
}

.mobile-pattern{
    box-sizing: content-box;
    background-image: url(./images/bg-pattern-mobile.svg);
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: calc(100%*3/4);
    transform: translate(25px, -90px);
}

/* Desktop logo settings */
.desktop-logo{
    display: none;
}

.desktop-woman{
    box-sizing: content-box;
    background-image: url(./images/illustration-woman-online-desktop.svg);
    width: 100%;
    padding: 0;
    padding-bottom: calc(100%*3/4);
    /* transform: translate(188px, 10px); */
}

.desktop-pattern{
    box-sizing: content-box;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: calc(100%*3/4);
    /* transform: translate(-10%,-20%); */
}

.desktop-box{
    box-sizing: content-box;
    background-image: url(./images/illustration-box-desktop.svg);
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: calc(100%*3/4);
}

/* QUESTIONS section */

.questions{
    padding: 1.5rem;  
}

h1{
    font-size: 2rem;
    text-align: center;
}

.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}

.question-text{
    line-height: 1.5;
}

.question-arrow {
    cursor: pointer;
    border: none;
    background-color: var(--white);
}

.arrow-up {
    transform: rotate(180deg);
}

/* HIDE text */
.question-text {
    display: none;
}

.show-text .question-title {
    font-weight: 700;
}

.show-text .question-text {
    display: block;
}
.arrow-up {
    display: none;
}
.show-text .arrow-up {
    display: inline;
}
.show-text .arrow-down {
    display: none;
}

.underline{
    border-bottom: 1px solid var(--light-grayish-blue);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 2rem; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media all and (min-width:640px){
    .container{
        flex-direction: row;
        max-width: 840px;
    }
    
    /* Desktop logo settings */
    .desktop-logo{
        display: block;
    }

    /* Mobile logo settings */
    .mobile-logo{
        display: none;
    }
}